/* Hexsweeper CSS by Sam Chun */

/* Normalize */
* {
    box-sizing: border-box;
}
body{
    background-color:lightgray;
}
.board {
    margin-left: auto;
    margin-right: auto;
    padding: 100px 25px 50px 25px;
}
.message-text {
    position: fixed;
    width: 98vw;
    top: 30vh;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: rgb(86, 77, 219);
    z-index: 1;
}

/* Main */
.hex, .empty-hex {
    float: left;
    position: relative;
    margin-right: -26px;
    margin-bottom: -50px;
}
.hex .left {
    float: left;
    width: 0;
    border-right: 30px solid rgb(0, 165, 0);
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.empty-hex .left {
    float: left;
    width: 0;
    border-right: 30px solid transparent;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: rgb(0, 165, 0);
}
.empty-hex .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: transparent;
}
.hex .right {
    float: left;
    width: 0;
    border-left: 30px solid rgb(0, 165, 0);
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.empty-hex .right {
    float: left;
    width: 0;
    border-left: 30px solid transparent;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 53px;
}


.hex[data-status="hidden"] > .left, .hex[data-status="hidden"] > .middle, .hex[data-status="hidden"] > .right {
    cursor: pointer;
}
.hex[data-status="mine"] > .left {
    border-right: 30px solid red;
}
.hex[data-status="mine"] > .middle {
    background: red;
} 
.hex[data-status="mine"] > .right {
    border-left: 30px solid red;
}
.hex[data-status="revealed"] > .left {
    border-right: 30px solid gray;
}
.hex[data-status="revealed"] > .middle {
    background: gray;
} 
.hex[data-status="revealed"] > .right {
    border-left: 30px solid gray;
}
.hex[data-status="marked"] > .left {
    border-right: 30px solid yellow;
}
.hex[data-status="marked"] > .middle {
    background: yellow;
} 
.hex[data-status="marked"] > .right {
    border-left: 30px solid yellow;
}


.text-content {
    position: absolute;
    top: 30px;
    left: 52px;
    color: white;
    font-size: 30px;
}
